<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit product</title>
</head>
<body>
    <h1>Edit product:</h1>
    <form action="/products/<%=product._id%>?_method=PUT" method="POST">
        <label for="name">Product name</label>
        <input type="text" name="name" id="name" placeholder="Product name" value="<%=product.name%>">
        <label for="price">Price (unit)</label>
        <input type="category" name="price" id="price" placeholder="Price" value="<%=product.price%>">
        <label for="category"></label>
        <select name="category" id="category">
            <option value="fruit">fruit</option>
            <option value="vegetable">vegetable</option>
            <option value="dairy">dairy</option>
        </select>
        <button>Submit</button>
    </form>
</body>
</html>